body {
    background-color: #EFECCA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}


h1 {
    color: #C03000;
}

h2 {
    color: #4BB5C1;
}

footer a {
    color: #0000FF;
    text-decoration:none;
    font-weight: bold;
}

nav ul li a {
    color: #EFECCA;
    text-decoration: none;
    background-color: #C03000;
    border: 2px solid #660000;
}

nav ul li a:focus, nav ul li a:hover {
    background-color: #009900;
    text-decoration: underline;
}

nav ul li{
    display: inline;
}